<launch>

<rosparam file="$(find robo_description)/launch/controller.yaml" command="load"/>

<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" ns="robo" output="screen"  args="joint_state_controller swerve_controller"/>
<node name="robot_state_publisher" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher" output="screen" >
  <remap from="/joint_states" to="/robo/joint_states"/>
</node>

</launch>